/*index css*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    z-index: 1;
    position: fixed;
    background: #090a0f;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #0a0d0e;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 120px;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.balance {
    padding: 5px;
    background: #fff;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(7, 3, 3);
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover {
    background: #0B87A6;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #073d80;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #023069;
    ;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}


/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    #check:checked~.content {
        margin-left: 0;
    }
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #19B3D3;
    }
    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: #19B3D3;
    }
    .mobile_nav_items i {
        padding-right: 10px;
    }
    .active {
        display: block;
    }
    /*.mobile_nav_items{
    background: #2F323A;
    overflow: hidden;
    max-height: 0;
	transition: 0.5s;
	transition-property: max-height;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    max-height: 1000px;
  }
*/
}

.services .content1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.services .content1 .card {
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.services .content1 .card .service-icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
    transition: transform 0.5s ease;
}

.services .content1 .card:hover .service-icon {
    transform: translateY(-10px);
}

.services .content1 .card .info {
    text-align: center;
}

.services .content1 .card .info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.section-title {
    font-size: 1.8em;
}

.section-title {
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.services .content1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.title p {
    font-size: 1em;
    width: 80%;
}

table {
    margin-top: 0px;
    width: 60%;
    border-collapse: collapse;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #fff;
}

th {
    background: #fff;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: none;
    text-align: left;
}

.report {
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.date {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.date1 {
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
}

.date2 {
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.photo1 {
    margin-left: 10px;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
}

.photo2 {
    margin-left: 10px;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
}

.button1 {
    background: rgb(238, 235, 235);
    width: 30%;
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    margin-left: 45%;
}

.button1 button {
    background: rgb(36, 85, 36);
    width: 200px;
    height: 45px;
    justify-content: center;
    box-shadow: 0 5px 25px rgba(1 1 1 / 55%);
    margin-top: -2px;
    border-radius: 15px;
}

.button1 button p {
    color: #fff;
    font-weight: 500px;
    font-size: 20px;
    margin-top: 0px;
}

input {
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: sans-serif;
    font-size: medium;
    margin-left: 5px;
}